In [1]:
import pandas as pd
from Preparation import prepare_to_file
from Scoring import initialize_result_file

# 1. Titanic

In [2]:
titanic = pd.read_csv('../Datasets/Titanic/train.csv')
titanic.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
titanic['Age'] = titanic['Age'].fillna(titanic['Age'].mean())
titanic['Embarked'] = titanic['Embarked'].fillna('S')
titanic['Embarked'] = titanic['Embarked'].replace('NaN',pd.NA)
titanic.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [4]:
work_columns = ['Pclass', 'Name', 'Sex', 'Age', 'SibSp','Parch', 'Ticket', 'Fare', 'Embarked']
prepare_to_file(titanic,work_columns,'titanic',3)

In [5]:
titanic_1 = pd.read_csv('../Datasets/Prepared/titanic_1.csv')
titanic_2 = pd.read_csv('../Datasets/Prepared/titanic_2.csv')
titanic_3 = pd.read_csv('../Datasets/Prepared/titanic_3.csv')

In [6]:
titanic_1.isna().sum()

PassengerId      0
Survived         0
Pclass          12
Name            12
Sex              8
Age              8
SibSp            6
Parch           10
Ticket           8
Fare            16
Cabin          687
Embarked         9
dtype: int64

In [7]:
titanic_2.isna().sum()

PassengerId      0
Survived         0
Pclass          14
Name             9
Sex             14
Age              5
SibSp            8
Parch            9
Ticket           9
Fare             9
Cabin          687
Embarked        12
dtype: int64

In [8]:
titanic_3.isna().sum()

PassengerId      0
Survived         0
Pclass           8
Name             9
Sex             14
Age              9
SibSp            9
Parch            8
Ticket          15
Fare             7
Cabin          687
Embarked        10
dtype: int64

# 2. Australian Weather

In [9]:
aus_weather = pd.read_csv('../Datasets/Australia_rain/weatherAUS.csv')
aus_weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [10]:
aus_weather.shape

(145460, 23)

In [11]:
aus_weather.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [12]:
aus_weather = aus_weather.dropna()
aus_weather = aus_weather[aus_weather['Location'].isin(['Sydney','SydneyAirport','Canberra','MelbourneAirport','Melbourne','Brisbane','Perth'])]
aus_weather['RainToday'] = aus_weather['RainToday'].replace('Yes', '1')
aus_weather['RainToday'] = aus_weather['RainToday'].replace('No', '0')
aus_weather['RainTomorrow'] = aus_weather['RainTomorrow'].replace('Yes', '1')
aus_weather['RainTomorrow'] = aus_weather['RainTomorrow'].replace('No', '0')

In [13]:
aus_weather.shape

(16443, 23)

In [14]:
aus_weather.isna().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [15]:
aus_weather.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [16]:
work_columns = ['Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday']

In [17]:
prepare_to_file(aus_weather,work_columns,'aus_weather',3)

In [18]:
aus_weather_1 = pd.read_csv('../Datasets/Prepared/aus_weather_1.csv')
aus_weather_2 = pd.read_csv('../Datasets/Prepared/aus_weather_2.csv')
aus_weather_3 = pd.read_csv('../Datasets/Prepared/aus_weather_3.csv')

In [19]:
aus_weather_1.isna().sum()

Date              0
Location         83
MinTemp          73
MaxTemp          93
Rainfall         79
Evaporation      78
Sunshine         93
WindGustDir      76
WindGustSpeed    78
WindDir9am       85
WindDir3pm       73
WindSpeed9am     79
WindSpeed3pm     80
Humidity9am      58
Humidity3pm      73
Pressure9am      81
Pressure3pm      80
Cloud9am         75
Cloud3pm         84
Temp9am          75
Temp3pm          77
RainToday        71
RainTomorrow      0
dtype: int64

In [20]:
aus_weather_2.isna().sum()

Date              0
Location         70
MinTemp          77
MaxTemp          80
Rainfall         92
Evaporation      80
Sunshine         67
WindGustDir      69
WindGustSpeed    85
WindDir9am       80
WindDir3pm       71
WindSpeed9am     82
WindSpeed3pm     88
Humidity9am      77
Humidity3pm      84
Pressure9am      86
Pressure3pm      67
Cloud9am         80
Cloud3pm         67
Temp9am          77
Temp3pm          80
RainToday        85
RainTomorrow      0
dtype: int64

In [21]:
aus_weather_3.isna().sum()

Date              0
Location         87
MinTemp          84
MaxTemp          83
Rainfall         72
Evaporation      92
Sunshine         82
WindGustDir      80
WindGustSpeed    77
WindDir9am       88
WindDir3pm       61
WindSpeed9am     81
WindSpeed3pm     77
Humidity9am      87
Humidity3pm      67
Pressure9am      78
Pressure3pm      65
Cloud9am         66
Cloud3pm         72
Temp9am          80
Temp3pm          80
RainToday        85
RainTomorrow      0
dtype: int64

# 3. League of Legends stats

In [22]:
lol_13_1 = pd.read_csv('../Datasets/LoL Stats/League of Legends Champion Stats 13.1.csv', sep=';')
lol_13_3 = pd.read_csv('../Datasets/LoL Stats/League of Legends Champion Stats 13.3.csv', sep=';')
lol_stats = pd.concat([lol_13_1,lol_13_3])
lol_stats = lol_stats.drop("Score",axis=1)
lol_stats = lol_stats.drop("Trend",axis=1)
lol_stats.isna().sum()

Name      0
Class     2
Role      0
Tier      0
Win %     0
Role %    0
Pick %    0
Ban %     0
KDA       0
dtype: int64

In [23]:
lol_stats[lol_stats.isna().any(axis=1)]

       Name Class Role Tier   Win %  Role % Pick %   Ban %   KDA
71  K'Sante   NaN  TOP    S  47.52%  93.24%  7.24%  15.11%  1.97
72  K'Sante   NaN  TOP    B  45.44%  91.98%  4.32%   8.29%  1.82

In [24]:
for i in lol_stats.loc[lol_stats['Name'] == "K'Sante"].index.values:
    lol_stats.at[i,"Class"] = "Tank"

In [25]:
lol_stats.columns

Index(['Name', 'Class', 'Role', 'Tier', 'Win %', 'Role %', 'Pick %', 'Ban %',
       'KDA'],
      dtype='object')

In [26]:
work_columns = ['Class', 'Role', 'Win %', 'Role %',
       'Pick %', 'Ban %', 'KDA']

In [27]:
lol_stats.isna().sum()

Name      0
Class     0
Role      0
Tier      0
Win %     0
Role %    0
Pick %    0
Ban %     0
KDA       0
dtype: int64

In [28]:
dict = {"God" : '0', "S" : '1', "A": '2', "B" : '3', "C": '4', "D": '5'}
lol_stats=lol_stats.replace({"Tier": dict})
lol_stats['Tier'].unique()

array(['1', '4', '2', '3', '5', '0'], dtype=object)

In [29]:
percent_columns = ['Win %', 'Role %',
       'Pick %', 'Ban %']
for col in percent_columns:
    lol_stats[col] = lol_stats[col].str.rstrip('%')

In [30]:
lol_stats.loc[2]

    Name     Class Role Tier  Win % Role % Pick %  Ban %   KDA
2  Akali  Assassin  MID    1  48.41  75.74   8.11  13.02  2.37
2  Akali  Assassin  MID    2  48.29  71.88   6.91  11.01  2.36

In [31]:
prepare_to_file(lol_stats,work_columns,'lol_stats',3)

In [32]:
lol_stats_1 = pd.read_csv('../Datasets/Prepared/lol_stats_1.csv')
lol_stats_2 = pd.read_csv('../Datasets/Prepared/lol_stats_2.csv')
lol_stats_3 = pd.read_csv('../Datasets/Prepared/lol_stats_3.csv')

In [33]:
lol_stats_1.isna().sum()

Name       0
Class     14
Role      18
Tier       0
Win %     12
Role %     6
Pick %     6
Ban %     14
KDA       26
dtype: int64

In [34]:
lol_stats_2.isna().sum()

Name       0
Class     12
Role       8
Tier       0
Win %     18
Role %    14
Pick %    20
Ban %     14
KDA        6
dtype: int64

In [35]:
lol_stats_3.isna().sum()

Name       0
Class     14
Role      18
Tier       0
Win %      8
Role %    14
Pick %    10
Ban %     20
KDA        8
dtype: int64

In [36]:
initialize_result_file()